.title {
    font-size: 50px;
    color: black;
    text-align: center;
}

.quote-box {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    align-items: center;
    text-align: center;
    position: relative;
    color: grey;
}

.new-quote {
    text-align: center;
    color: white;
    background-color: black;
}

.text {
    color: black;
}

.author {
    color: black;
}

.tweet-button {
    text-align: center;
    color: white;
    background-color: blue;
}